.container-minicard{
    width: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 3px 3px 26px -3px rgba(0,0,0,0.35); 
box-shadow: 3px 3px 26px -3px rgba(0,0,0,0.35);
    img{
        width: 20px;
    }
    span {
        margin-top: 10px;
        text-align: center;
    }
}